*{

}

:root{
    --font-family:(Arial, Helvetica, sans-serif)


}
header{
    background-color: dimgrey;
    font-family: var(--font-family);
    color: blanchedalmond;
    padding: 0;



}
header p{
    font-size: 175%;
}
header h1{
    text-align: center;
    font-size: 300%;
    


}
header h1 img{
    max-width: 10%;
    max-height: 10%;


}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tan;
    max-width: 80%;
    margin: 0 ;
    padding: 0 10%
    
}

.navfont{
    font-size: 20px
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li{
    margin-right: 50%;
}

.nav-links a{
    text-decoration: none;
    color:white;
    transition: .01s;
}
.nav-links a:hover {
    color: black;
}


 
    
body{
 background-color: darkslategrey;
 display: flex;
 flex-direction: column;
 font-family: Arial, Helvetica, sans-serif;
}

body section{
    color: blanchedalmond;
    margin: 5%;


    
    
    

    
}

section h1{
    
    font-size: 400%;


}
section p{
    font-size: 200%;
}


footer{
    margin-top: 70%;
    
    
    background-color: tan;



}

footer ul{
    display: inline-block; list-style: lower-greek;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    font-size: 250%;
    display: flex;
    justify-content: space-between;
    
}

footer h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
    
}

img{
    max-width: 24%;
    max-height: 24%;

}

#css-tooltip {
    position: relative;
    text-decoration: double;
    color: white;
    cursor: pointer;

}

#css-tooltip:hover::after {
    content: "555-555-5050" ;
    position: absolute;
    left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 3px;color: black;
  background-color: darkslategrey ;
  padding: 12px;
  color: #fff;
  font-size: 100%;
  z-index: 1;
}

#css-tooltip1 {
    position: relative;
    text-decoration: double;
    color: white;
    cursor: pointer;

}

#css-tooltip1:hover::after {
    content: "cpapanicholas@gmail.com" ;
    position: absolute;
    left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 3px;color: black;
  background-color: darkslategrey ;
  padding: 12px;
  color: #fff;
  font-size: 100%;
  z-index: 1;
}

#css-tooltip2 {
    position: relative;
    text-decoration: double;
    color: white;
    cursor: pointer;

}

#css-tooltip2:hover::after {
    content: "Cpapanicholas Linked In" ;
    position: absolute;
    left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 3px;color: black;
  background-color: darkslategrey ;
  padding: 12px;
  color: #fff;
  font-size: 100%;
  z-index: 1;
}

#css-tooltip3 {
    position: relative;
    text-decoration: double;
    color: white;
    cursor: pointer;

}

#css-tooltip3:hover::after {
    content: "Cpapanicholas Indeed" ;
    position: absolute;
    left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 3px;color: black;
  background-color: darkslategrey ;
  padding: 12px;
  color: #fff;
  font-size: 100%;
  z-index: 1;
}

#css-tooltip4 {
    position: relative;
    text-decoration: double;
    color: white;
    cursor: pointer;

}

#css-tooltip4:hover::after {
    content: "Cpapanicholas Resume" ;
    position: absolute;
    right: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 3px;color: black;
  background-color: darkslategrey ;
  padding: 12px;
  color: #fff;
  font-size: 100%;
  z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 1px;
    padding: 10px;
    z-index: 1;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 768px) {
    body {
        font-size: 14px;

        nav{
            font-size: 8px;
        }
    
    }
    
  }

  @media screen and (min-width: 480px) {
    body {
       font-size: 10px;

       nav{
        font-size: 6px;
    }
    }

    
  }